body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: black;
}

.scroll-section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease;
    background: white;
}

.contact {
    font-weight: 700;
    font-size: 10em;
}

.headline {
    font-weight: 900;
    font-size: 12em;
}

.headline .letter {
    display: inline-block;
    line-height: 1em;
}

#p1,
#p2 {
    font-weight: 700;
    font-size: 6em;
    opacity: 1;
}

#img2 {
    width: 100%;
    object-fit: cover;
}

#section3 {
    background: url("/images/section-3-bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#section4 #p4 {
    font-weight: 700;
    font-size: 3rem;
    opacity: 1;
    text-align: left;
}
@media screen and (max-width: 768px) {
    .scroll-section {
        padding: 8px;
    }

    #section3 {
        background: url("/images/section-3-bg-1.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    #p1,
    #p2,
    #p4 {
        font-weight: 700;
        font-size: 2em;
        opacity: 0;
    }

    .contact {
        font-weight: 900;
        font-size: 3em;
    }

    .headline {
        font-weight: 900;
        font-size: 3em;
    }

    .headline .letter {
        display: inline-block;
        line-height: 1em;
    }
}
