body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    width: 100%;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 4rem;
    font-weight: 900;
}

.scroll-section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    color: black;
    background: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tagline {
    font-weight: 700;
    font-size: 8em;
    line-height: 1em;
    opacity: 0;
}

.headline {
    font-weight: 900;
    font-size: 12em;
}

.headline .letter {
    display: inline-block;
    line-height: 1em;
}

.q {
    margin-top: 2rem;
    text-align: left;
    font-weight: 700;
    font-size: 2rem;
    color: inherit;
}
.a {
    margin-top: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    color: inherit;
}

.email-link {
    color: red; /* Sätter länktextens färg till röd */
    text-decoration: none; /* Tar bort understrykningen */
}

.email-link:hover {
    color: yellow;
}

#p1,
#p2,
#p4 {
    font-weight: 700;
    font-size: 6em;
    opacity: 1;
}

div#p3 {
    font-weight: 700;
    font-size: 2em;
    text-align: left;
}

#img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* body {
    background: url("/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

#section3 #p4 {
    font-weight: 700;
    font-size: 3rem;
    opacity: 1;
    text-align: left;
}

/* #section3, */
#section4 {
    text-align: left;
}

#contact {
    opacity: 0;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Mellanrum mellan elementen */
}
.service {
    text-align: left;
    flex: 1; /* Elementen tar upp lika mycket utrymme */
    min-width: 300px; /* Minsta bredd innan de staplas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lätt skuggning för djup */
    padding: 20px; /* Inre mellanrum */
    border-radius: 10px; /* Rundade hörn */
}

.service p {
    font-weight: 500;
    font-size: 1.5rem;
}

/* #section4 {
    background: black;
    color: white;
} */

@media screen and (max-width: 768px) {
    .scroll-section {
        padding: 8px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
        font-weight: 900;
    }

    #p1 {
        font-weight: 700;
        font-size: 3em;
    }

    #p2 {
        font-weight: 700;
        font-size: 2em;
    }

    #p3 {
        font-weight: 900;
        font-size: 1.5rem;
    }

    #p4 {
        font-weight: 700;
        font-size: 3em;
    }

    .tagline {
        font-weight: 900;
        font-size: 2em;
    }

    .headline {
        font-weight: 900;
        font-size: 3em;
    }

    .headline .letter {
        display: inline-block;
        line-height: 1em;
    }

    .q {
        margin-top: 2rem;
        padding-left: 0rem;
        text-align: left;
        font-weight: 900;
        font-size: 1.5rem;
    }
    .a {
        margin-top: 2rem;
        padding-right: 2rem;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
    }
}
