@font-face {
    font-family: "baskerville";
    src: url("assets/fonts/baskerville/baskerville bold bt.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "baskerville";
    src: url("assets/fonts/baskerville/baskervi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "freightsans";
    src: url("assets/fonts/Freight Sans pro/FreightSansProBook-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "freightsans";
    src: url("assets/fonts/Freight Sans pro/FreightSansProSemibold-Regular.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    width: 100%;
    font-family: "freightsans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "baskerville", sans-serif;
    letter-spacing: normal;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 4rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.scroll-section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    color: black;
    background: white;
    padding-left: 16px;
    padding-right: 16px;
}

.scroll-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
    height: 110vh;
}

.logo {
    width: 65vw;
    height: auto;
    margin-bottom: 2rem;
}

.tagline {
    font-weight: normal;
    font-size: 3rem;
    line-height: 1em;
    opacity: 0;
    color: white;
    padding: 0.2rem;
}

.headline {
    font-weight: 900;
    font-size: 12em;
    color: white;
}

.headline .letter {
    display: inline-block;
    line-height: 1em;
}

.q {
    margin-top: 2rem;
    text-align: left;
    font-weight: 700;
    font-size: 2rem;
    color: inherit;
}
.a {
    margin-top: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-weight: normal;
    font-size: 2rem;
    color: inherit;
}

.email-link {
    color: red;
    text-decoration: none;
}

#p1,
#p2,
#p4 {
    font-weight: normal;
    font-size: 6em;
    opacity: 1;
}

#p3 {
    font-weight: normal;
    font-size: 2em;
    text-align: left;
}

#img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#section1 > div {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#section1.scroll-section {
    padding: 0;
}

.video {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

#section3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

#section3 #p4 {
    font-weight: normal;
    font-size: 3rem;
    opacity: 1;
    text-align: left;
}

#section4 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

#contact {
    opacity: 0;
}

#section45 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
}
#section45 h2 {
    padding-bottom: 2rem;
    text-align: left;
}
.services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service {
    text-align: left;
    flex: 1;
    min-width: 300px;
    border-radius: 10px;
}

.service p {
    font-weight: normal;
    font-size: 1.5rem;
}

@media screen and (max-width: 1240px) {
    .headline {
        font-weight: normal;
        font-size: 8rem;
    }

    .tagline {
        font-weight: normal;
        font-size: 2.5em;
    }

    #p1,
    #p2,
    #p4 {
        font-weight: normal;
        font-size: 4em;
        opacity: 1;
    }

    #section3 #p4 {
        font-size: 2.5.rem;
    }
}
@media screen and (max-width: 788px) {
    .scroll-section {
        padding: 8px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: normal;
    }

    p {
        font-size: 1.5rem;
        font-weight: normal;
    }

    #p1 {
        font-size: 2em;
        text-align: right;
    }

    #p2 {
        font-size: 1.5em;
    }

    #p3 {
        font-size: 1.5rem;
    }

    #p4 {
        font-weight: 700;
        font-size: 3em;
    }

    .tagline {
        font-weight: normal;
        font-size: 2em;
    }

    .headline {
        font-weight: 900;
        font-size: 3em;
    }

    .headline .letter {
        display: inline-block;
        line-height: 1em;
    }

    .q {
        margin-top: 2rem;
        padding-left: 0rem;
        text-align: left;
        font-weight: 900;
        font-size: 1.8rem;
    }
    .a {
        margin-top: 2rem;
        padding-right: 2rem;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/* Cookie consent */
#cookieConsentContainer p {
    font-size: 1rem;
}

#cookieConsentContainer button.btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    color: #fff;
    background-color: black;
    border-color: black;
}
